/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* 1. Box Sizing & remove default margin, padding*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* 4. Reset lists */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 5. Basic layout element reset */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  margin: 1rem 0;
}

/* 6. Accessibility-friendly focus outline */
:focus-visible {
  outline: 2px solid #005fcc; /* High-contrast blue for visibility */
  outline-offset: 3px;
}

/* 7. Remove animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

/* Root Variables */
:root {
  /* Colors */
  --dark: #0e1111;
  --light: #fff;
  --lightblue: #d3e0ff;
  --purple: #6352e5;
  --green: #40f39a;  
}



