/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ========== Root Variables ========== */
:root {
  --header-height: 3.5rem;

  /* Colors */
  --dark: hsl(209, 45%, 31%);
  --light: hsl(215, 20%, 49%);
  --shadow: hsl(224, 26%, 83%);
  --lightest: hsl(224, 52%, 94%);
  --primary: hsl(5, 100%, 69%);

  /* ==== Font and Typography === */
  --body-ff: 'Poppins', sans-serif;
  --heading-ff: 'Montserrat', sans-serif;

  /* === Font Sizes === */
  --h1-fs: 2.85rem;
  --h2-fs: 2.25rem;
  --h3-fs: 1.97rem;
  --h4-fs: 1.43rem;
  --h5-fs: 1.13rem;

  --xl-fs: 1.48rem;
  --l-fs: 1.23rem;
  --m-fs: 1.18rem;
  --b-fs: 1.1rem;
  --s-fs: 1.07rem;
  --xs-fs: 0.98rem;

  /* === Font Weights === */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* === Laying Order (Z-index) === */
  --z-minus: -1;
  --z-base: 0;
  --z-low: 1;
  --z-high: 10;
  --z-content: 100;
  --z-tooltip: 1000;
  --z-fixed: 1110;
  --z-overlay: 9999;
}

/* ========== CSS RESET ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-ff);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--lightest);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Reduce Motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* ========== Reusable CSS ========== */
.hero-section {
  position: relative;
  overflow: hidden;
}

.site-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1150px;
  margin-inline: 1.5rem;
}

section {
  min-height: 100vh;
}

/* ========== Preloader ========== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--light);
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-high);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  color: var(--dark);
  font-weight: var(--fw-medium);
  font-size: var(--xl-fs);
}

.nav_close,
.nav_toggle {
  display: flex;
  color: var(--dark);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--lightest);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .nav_item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibilty .4s;
  }

  .nav_item:nth-child(1) {
    transition-delay: .1s;
  }

  .nav_item:nth-child(2) {
    transition-delay: .2s;
  }

  .nav_item:nth-child(3) {
    transition-delay: .3s;
  }

  .nav_item:nth-child(4) {
    transition-delay: .4s;
  }
}

.nav_list,
.nav_social {
  display: flex;
}

.nav_list {
  flex-direction: column;
  row-gap: 3rem;
}
.nav_link {
  position: relative;
  color: var(--dark);
  font-size: var(--h1-fs);
  font-weight: var(--fw-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav_link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav_link span {
  position: relative;
  transition: margin .4s;
}

.nav_link span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width .4s ease-out;
  z-index: -1;
}
/* Hover animations for nav links */
.nav_link:hover span {
  margin-left: 2.5rem
}

.nav_link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav_link:hover span::after {
  width: 100%;
}

/* Child navigation fade animations */
.nav_list:has(.nav_link:hover) .nav_link:not(:hover) {
  opacity: .4;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav_social {
  column-gap: 1rem;
}

.nav_social-link {
  color: var(--dark);
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav_social-link:hover {
  transform: translateY(-.25rem);
  color: var(--primary);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Link animation when showing menu */
.show-menu
.nav_item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== Responsive Break Points ===============*/
/* Large Devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_link {
    font-size: var(--m-fs);
  }

  .nav_link i {
    font-size: 1.5rem;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav_menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }

  .nav_social {
    display: none;
  }
}

/* ============================== 
Hero Section 
============================== */
.home-container {
  height: 100vh;
}

.home-container .site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.avatar-img {
  position: relative;
  width: 425px;
  height: 425px;
}

.avatar-img img {
  position: absolute;
  width: 100%;
}

.home-social {
  position: absolute;
  left: 0;
}

.home-social span {
  position: absolute;
  left: 10px;
  color: var(--light);
  font-size: var(--s-fs);
  white-space: nowrap;
  transform: rotateZ(-90deg);
  transform-origin: left;
}

.home-social .social-line {
  background: var(--light);
  width: 1px;
  height: 100px;
  margin: 37px 0 25px 10px;
}

.home-social .social-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-social .social-icons li a {
  color: var(--light);
  font-size: var(--l-fs);
  transition: .3s;
}

.home-social .social-icons li a:hover {
  color: var(--primary);
  margin-left: 5px;
}

.avatar-container .hire-btn-01 {
  display: none;
}

.avatar-info {
  position: relative;
}

.avatar-info .text-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.avatar-info .hello-text {
  font-size: var(--l-fs);
  font-weight: var(--fw-semi-bold);
}

.avatar-info .my-name {
  color: var(--primary);
  font-size: var(--h1-fs);
  font-weight: var(--fw-bold);
}

.avatar-info .about-me {
  font-size: var(--l-fs);
  font-weight: var(--fw-semi-bold);
  margin-bottom: 35px ;
}

.home-scroll-btn {
  position: absolute;
  right: 0;
  color: var(--light);
  display: grid;
  justify-items: center;
  row-gap: 3px;
  animation: up-down 1.5s linear infinite;
  animation-delay: 1.85s;
}

@keyframes up-down {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}

.home-scroll-btn:hover {
  color: var(--primary);
}

.home-scroll-btn div {
  font-size: var(--s-fs);
  font-weight: var(--fw-light);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  white-space: nowrap;
  transform: rotate(180deg);
  margin-top: 7px;
}

.home-scroll-btn i {
  font-size: 2rem;
}

/* ============================== 
About Section 
============================== */
